.panel-title{
    font-style:italic;
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
    text-align:left;
}

body{
    font-family:Ubuntu;
}
.controls{
    color:#70002e;
}
h1{
    color:#70002e;
}
h2{
    color:#70002e;
}

.nav-item{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    height:175px;
}

.nav-item:hover{
    box-shadow: 2px 2px #70002e;
    height:180px;
}

.nav-description{
    text-align:center;
    padding-left:50px;
    padding-right:50px;
    color:#70002e;
    font-style:italic;
}

.jumbotron{

    padding-top:60px;
    padding-bottom:60px;
}

.video-table{
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.faculty-pic{
    height:300px;
}

th{
    font-size:22px;
}
td{
    font-size:18px;
    font-style:italic;
}
.github{
    height:50px;
    padding-left:20px;
}
.project-table td{
    padding-bottom:10px;
}
code{
    background-color:white;
    color:black;
    font-family:Ubuntu;
    font-size:14px;
    text-align:left;
}
.dog-table{
    margin-bottom:50px;
}
.dog-table img{
    box-shadow:2px 2px gray;
    width:250px;
    height:250px;
}
.dog-table td{
    padding-left:50px;
    padding-right:50px;
}
.bio-table td{
    padding-right:100px;
}
.waldo-table td{
    padding-right:75px;
}
.waldo-table img{
    padding-top:30px;
}