
.profile-table td{
    padding-right:20px;
}
.panel-title{
    font-style:italic;
    padding-top:10px;
    padding-bottom:10px;
    font-size:20px;
    text-align:left;
}

body{
    font-family:Ubuntu;
}
.controls{
    color:#70002e;
}
h1{
    color:#70002e;
}
h2{
    color:#70002e;
}

.nav-item{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
    height:175px;
}

.nav-item:hover{
    box-shadow: 2px 2px gray;
    height:180px;
}

.nav-description{
    text-align:center;
    padding-left:50px;
    padding-right:50px;
    color:#70002e;
    font-style:italic;
}

.jumbotron{
    
    padding-top:0px;
    padding-bottom:0px;
    background-color:white;
}

.video-table{
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
.faculty-pic{
    height:300px;
}

th{
    font-size:22px;
}
td{
    font-size:18px;
    font-style:italic;
}
.github{
    height:50px;
    padding-left:20px;
}
.project-table{
    width:100%;
    float:right;
}
.project-table td{
    padding-bottom:10px;
    padding-left:20px;
}
code{
    background-color:white;
    color:black;
    font-family:Ubuntu;
    font-size:18px;
    text-align:left;
}
pre{
    font-size:15px;
    font-weight:bold;
}
.dog-table{
    margin-bottom:50px;
}
.dog-table img{
    box-shadow:2px 2px gray;
    width:250px;
    height:250px;
}
.dog-table td{
    padding-left:50px;
    padding-right:50px;
}
.bio-table td{
    padding-right:100px;
}
.waldo-table td{
    padding-right:40px;
}
.waldo-table img{
    padding-top:30px;
}
.waldo-table{
    margin-bottom:40px;
}
.faculty-photo{
    height:150px;
}

.about-me img{
    height:300px;
}
.about-me td{
    padding-left:50px;
}
.heading-table{
    padding-right:20px;
    margin-bottom:50px;
}
.heading-table img{
    height:100px;
}
.csp-table td{
    padding-bottom:20px;
}
.shell-table{
    margin-bottom:50px;
}
.shell-table td{
    padding-left:50px;
}

.onus-table td{
    padding-right:30px;
}
.onus-table{
    margin-top:50px;
    margin-bottom:50px;
}
.onus-table img{
    border-radius:30px;
    height:500px;
}